### 修改完成后保存
### 如果你不确定配置
### 可以等安装程序运行完成
### 手动编辑/usr/local/bin/config.env
### 再重启qbrs

# qbittorrent路径(浏览器访问的真实地址，ip:端口 结尾不用 "/")
QBIT_URL="http://127.0.0.1:8080"

QBIT_USER="admin"
QBIT_PASSWD="adminadmin"

# 挂载的磁盘 (df -h 查看 Mounted on 挂载的目录)
DISK_LOCAL="/"

# rclone挂载名称
RCLONE_NAME="gdrive:"

# rclone本地挂载目录
RCLONE_LOCAL_DIR="/GoogleDrive"

# 远程资源保存路径(以 "/" 结尾)[请在云盘先手动创建这个文件夹]
RCLONE_REMOTE_DIR="/media/"

# rclone命令参数(一般不需要改)
MULTI_THREAD_STREAMS="10"

# 程序运行(错误)日志(一般不需要改)
LOG_FILE="/root/qbit_rclone_sync.log"

# rclone同步到远程并发线程数(根据实际情况修改，CPU不行就改小)
THREAD=10

# 内存控制
# VPS内存占用大于等于这个值时停止下载
MAX_MEM=90%
# VPS内存占用小于这个值时恢复下载
MIN_MEM=40%

# Telegram Bot通知
CHAT_ID="123456"
BOT_TOKEN="123456:abcdef"
